#weekly_special{
    background-color: #33CC66;
    margin-left: 5%;
    margin-right: 5%;
    height: 72px;
}

#text {
    font-size: 48px;
    text-align: left;
    margin-left: 16px;
    margin-bottom: 8px;
}